@font-face {
    font-family: "gg sans medium";
    src: url(./fonts/ggsans-Medium.woff2);
}

body {
    font-family: "gg sans medium";
    margin: 0;
    padding: 0;
    color: white;
    background-color: #323338;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.message-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding-left: 0.55cm;
    overflow-x: hidden;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

div.message {
    margin-top: 5px;
    margin-bottom: 15px;
}

.user-name {
    transform: translateY(-8px);
    font-size: 24px;
    color: #8f52a8;
    /* 使用你喜欢的颜色，这里使用的是蓝色（#007bff） */
}

/* 名称上方距离 */
.message-text {
    transform: translateY(-5px);
    font-family: "gg sans medium";
    font-size: 24px;
}

button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #7289da;
    color: #fff;
    cursor: pointer;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* 为user-avatar类设置固定的宽度和高度，并保持头像居中 */
.user-avatar {
    width: 40px;
    /* 设置头像的宽度 */
    height: 40px;
    /* 设置头像的高度 */
    border-radius: 50%;
    /* 将头像设置为圆形，如果头像是方形的话 */
    flex-shrink: 0;
    /* 禁止头像容器缩小 */
    display: flex;
    /* 使用 Flexbox 布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    background-size: cover;
    /* 保持原比例，不缩放头像 */
    background-repeat: no-repeat;
    /* 不重复显示头像 */
}

/* 设置头像中的img元素宽度和高度为100% */
.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保持图片比例并填充整个容器 */
    border-radius: 50%;
    /* 将头像设置为圆形，如果头像是方形的话 */
}

.message-text {
    max-width: calc(102% - 50px);
    /* 减去头像的宽度和一定的间隔，确保文本不超出头像容器 */
    word-wrap: break-word;
    /* 处理长文本，自动换行 */
    overflow-wrap: break-word;
    /* 处理长文本，自动换行 */
    white-space: pre-line;
    /* 保留换行符并自动换行 */
}

.message-content {
    transform: translateX(15px);
}

.user-name {
    font-weight: bold;
}

.message-time {
    font-size: 16px;
    color: #888;
    margin: 3px 0 0 10px;
}

/* 设置窗体 */
.modal {
    color: black !important;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 特殊身份组加的图标 */
.special-role-icon {
    width: 20px;
    height: 20px;
    background-image: url("./lowiro.webp");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
    /* 根据需要调整边距 */
}

/* 调整 .user-name 容纳图标 */
.user-name {
    display: flex;
    align-items: center;
}

a,
a:visited {
    text-decoration: none;
    color: #91dfff;
}

.footer-content {
    font-size: 13px;
}

.outside-border {
    margin: 0;
}